In [2]:
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
data = np.genfromtxt('movieReplicationSet.csv', delimiter = ',',skip_header = 1)

In [3]:
import pandas as pd
df = pd.read_csv('movieReplicationSet.csv',skipinitialspace=True)
df= df.rename(columns={'Rambo: First Blood Part II': 'Rambo: First Blood Part II (1985)'})
titles = df.columns[0:400]
titles = titles.values.tolist()

'The Life of David Gale (2003)'

In [63]:
tyears = [[]]
index= []
x,y = data.shape
for i in range(400):
    if titles[i][-5:-1:1].isnumeric():
        years = int(titles[i][-5:-1:1])
        index.append(i)
        tyears[0].extend([years])
print(np.median(tyears[0]))
yandi = zip(tyears[0],index)
yandi = list(yandi)

1999.0

In [73]:
hyears= []
lyears= []
for i in range(len(yandi)):
    if yandi[i][0]<=np.median(tyears[0]) and len(lyears)< 200:
        lyears.append(yandi[i])
    else:
        hyears.append(yandi[i])

[(1999, 1),
 (1979, 3),
 (1989, 4),
 (1985, 6),
 (1996, 7),
 (1976, 10),
 (1984, 12),
 (1985, 13),
 (1969, 15),
 (1999, 16),
 (1960, 17),
 (1968, 19),
 (1977, 21),
 (1991, 22),
 (1996, 25),
 (1993, 26),
 (1999, 28),
 (1986, 29),
 (1974, 31),
 (1984, 32),
 (1981, 33),
 (1999, 34),
 (1994, 36),
 (1997, 37),
 (1974, 38),
 (1976, 39),
 (1985, 40),
 (1995, 43),
 (1995, 44),
 (1996, 45),
 (1997, 46),
 (1986, 48),
 (1983, 50),
 (1979, 53),
 (1995, 55),
 (1976, 56),
 (1997, 58),
 (1995, 60),
 (1971, 61),
 (1982, 65),
 (1998, 66),
 (1968, 67),
 (1972, 68),
 (1972, 69),
 (1996, 70),
 (1970, 71),
 (1967, 73),
 (1973, 74),
 (1968, 77),
 (1998, 79),
 (1998, 82),
 (1999, 83),
 (1986, 85),
 (1995, 88),
 (1989, 90),
 (1984, 91),
 (1982, 94),
 (1987, 96),
 (1967, 98),
 (1978, 100),
 (1995, 102),
 (1980, 104),
 (1987, 105),
 (1979, 106),
 (1994, 107),
 (1988, 110),
 (1994, 111),
 (1980, 113),
 (1974, 114),
 (1996, 116),
 (1991, 118),
 (1996, 119),
 (1976, 121),
 (1966, 122),
 (1997, 123),
 (1999, 125),
 (1995, 126),
 (1996, 127),
 (1974, 128),
 (1995, 129),
 (1998, 130),
 (1990, 132),
 (1980, 133),
 (1971, 134),
 (1966, 135),
 (1993, 136),
 (1999, 137),
 (1970, 139),
 (1999, 140),
 (1997, 141),
 (1995, 144),
 (1990, 145),
 (1993, 148),
 (1982, 151),
 (1992, 152),
 (1968, 153),
 (1998, 155),
 (1999, 157),
 (1991, 160),
 (1966, 162),
 (1997, 164),
 (1996, 166),
 (1981, 167),
 (1986, 169),
 (1968, 173),
 (1980, 174),
 (1983, 175),
 (1998, 177),
 (1999, 179),
 (1997, 180),
 (1989, 181),
 (1995, 182),
 (1996, 183),
 (1992, 185),
 (1999, 188),
 (1992, 189),
 (1996, 192),
 (1999, 193),
 (1993, 195),
 (1988, 197),
 (1999, 199),
 (1995, 200),
 (1999, 201),
 (1999, 202),
 (1989, 203),
 (1998, 206),
 (1994, 207),
 (1994, 208),
 (1990, 209),
 (1991, 211),
 (1994, 214),
 (1999, 215),
 (1984, 217),
 (1999, 219),
 (1994, 220),
 (1988, 221),
 (1994, 223),
 (1999, 224),
 (1995, 226),
 (1973, 228),
 (1997, 229),
 (1977, 231),
 (1991, 233),
 (1990, 236),
 (1998, 237),
 (1999, 238),
 (1996, 240),
 (1978, 241),
 (1972, 243),
 (1999, 249),
 (1992, 250),
 (1996, 254),
 (1990, 256),
 (1978, 260),
 (1998, 261),
 (1976, 265),
 (1967, 268),
 (1997, 271),
 (1999, 273),
 (1988, 274),
 (1995, 276),
 (1999, 277),
 (1973, 280),
 (1995, 282),
 (1990, 285),
 (1999, 287),
 (1991, 290),
 (1997, 292),
 (1971, 293),
 (1982, 295),
 (1994, 297),
 (1995, 298),
 (1985, 300),
 (1979, 302),
 (1988, 303),
 (1999, 304),
 (1998, 305),
 (1999, 306),
 (1992, 308),
 (1973, 309),
 (1993, 314),
 (1993, 318),
 (1987, 320),
 (1987, 322),
 (1999, 323),
 (1987, 324),
 (1998, 325),
 (1994, 326),
 (1986, 327),
 (1996, 329),
 (1988, 330),
 (1997, 331),
 (1969, 332),
 (1981, 334),
 (1983, 342),
 (1982, 344),
 (1998, 345),
 (1978, 347),
 (1992, 350),
 (1997, 352)]

In [81]:
pval = 0
sum =0
fly = []
fhy = []
for i in range(len(hyears)):
    sum = 0
    temp = data[:,hyears[i][1]:hyears[i][1]+1]
    temp2  = np.isfinite(data[:,hyears[i][1]:hyears[i][1]+1])
    fixed = np.median(temp[temp2])
    fhy.append(fixed)
for i in range(len(lyears)):
    sum = 0
    temp = data[:,lyears[i][1]:lyears[i][1]+1]
    temp2  = np.isfinite(data[:,lyears[i][1]:lyears[i][1]+1])
    fixed = np.median(temp[temp2])
    fly.append(fixed)
    
u1,p1 = stats.mannwhitneyu(fly,fhy)
p1

0.4012814440168645